<html>
    <head>
        <title>Cryptoarb</title>
        {% block stylesheet %}
            <link href="{{ app.request.basepath }}/../resources/css/styles.css" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>
    <body>
        <table class="output">
            <thead>
                <tr>
                    <th rowspan="2">
                        Coin
                    </th>
                    <th colspan="4">
                        min. Sell
                    </th>
                    <th colspan="4">
                        max. Buy
                    </th>
                </tr>
                <tr>
                    <th>
                        exchange
                    </th>
                    <th>
                        rate
                    </th>
                    <th>
                        volume
                    </th>
                    <th>
                        btc value
                    </th>
                    <th>
                        exchange
                    </th>
                    <th>
                        rate
                    </th>
                    <th>
                        volume
                    </th>
                    <th>
                        btc value
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for coin, data in output %}
                    <tr>
                        <td>
                            {{ coin }}
                        </td>
                        <td>
                            {{ data.min_sell.exchange }}
                        </td>
                        <td class="cellNumber">
                            {{ data.min_sell.rate | number_format(8, '.', '') }}
                        </td>
                        <td class="cellNumber">
                            {{ data.min_sell.volume | number_format(8, '.', '') }}
                        </td>
                        <td class="cellNumber">
                            {{ data.min_sell.btc_value | number_format(8, '.', '') }}
                        </td>
                        <td>
                            {{ data.max_buy.exchange }}
                        </td>
                        <td class="cellNumber">
                            {{ data.max_buy.rate | number_format(8, '.', '') }}
                        </td>
                        <td class="cellNumber">
                            {{ data.max_buy.volume | number_format(8, '.', '') }}
                        </td>
                        <td class="cellNumber">
                            {{ data.max_buy.btc_value | number_format(8, '.', '') }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
    </body>
</html>